language: csharp
dotnet: '2.1.700'
mono: none

sudo: required

dist: trusty
addons:
  apt:
    sources:
      - sourceline: deb [arch=amd64] https://packages.microsoft.com/ubuntu/14.04/prod trusty main
        key_url: https://packages.microsoft.com/keys/microsoft.asc
    packages:
      - powershell-preview

env:
  global:
    # This moves Kubernetes specific config files.
    - CHANGE_MINIKUBE_NONE_USER=true
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true
    - FORCE_COLOR=1

install:
  - sudo ln -s /usr/bin/pwsh-preview /usr/bin/pwsh
  - pwsh ./ci/Install-Minikube.ps1 -KubectlVersion v1.9.0 -MinikubeVersion v0.25.2 -KubernetesVersion v1.9.0
  - pwsh -c 'Install-Module -Force -Scope CurrentUser PSScriptAnalyzer'

script:
  - pwsh -c 'Invoke-ScriptAnalyzer -Path . -Recurse -Settings PSScriptAnalyzerSettings.psd1 | Format-List -Property RuleName,Message,ScriptPath,Line,Column'
  - pwsh ./build.ps1
  - pwsh ./ci/Invoke-Tests.ps1
  - bash <(curl -s https://codecov.io/bash) -f opencovercoverage.xml

notifications:
  email: false

if: tag IS blank

jobs:
  include:
    - stage: test
    - stage: release
      cache:
        directories:
          - ~/.npm
      install:
        - sudo ln -s /usr/bin/pwsh-preview /usr/bin/pwsh
        - nvm install 10
        - nvm use 10
        - npm ci
      script:
        - ./node_modules/.bin/semantic-release

stages:
  - test
  - name: release
    if: branch = master AND type = push AND fork = false
