language: csharp
dotnet: '2.1.700'
mono: none

sudo: required

# We need the systemd for the kubeadm and it's default from 16.04+
dist: xenial

env:
  global:
    # This moves Kubernetes specific config files.
    - CHANGE_MINIKUBE_NONE_USER=true
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_HOME=$HOME
    - KUBECONFIG=$HOME/.kube/config
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true
    - FORCE_COLOR=1

before_install:
  - wget -q https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb
  - sudo dpkg -i packages-microsoft-prod.deb
  - sudo apt-get update
  - sudo apt-get install -y powershell

install:
  - dotnet tool install -g dotnet-format --version 3.1.37601
  - pwsh ./ci/Install-Minikube.ps1 -MinikubeVersion v1.2.0 -KubernetesVersion v1.15.0
  - pwsh -c 'Install-Module -Force -Scope CurrentUser PSScriptAnalyzer'

script:
  - ~/.dotnet/tools/dotnet-format
  - pwsh -c 'Invoke-ScriptAnalyzer -Path . -Recurse -Settings PSScriptAnalyzerSettings.psd1 | Format-List -Property RuleName,Message,ScriptPath,Line,Column'
  - pwsh ./build.ps1
  - pwsh ./ci/Invoke-Tests.ps1
  - bash <(curl -s https://codecov.io/bash) -f opencovercoverage.xml

notifications:
  email: false

if: tag IS blank

jobs:
  include:
    - stage: test
    - stage: release
      language: node_js
      node_js: '12'
      cache:
        directories:
          - ~/.npm
      install:
        - npm ci
      script:
        - ./node_modules/.bin/semantic-release

stages:
  - test
  - name: release
    if: branch = master AND type = push AND fork = false
